{% extends 'base.html' %}



{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">
        <div class="col d-flex">
            <img src="../static/css/image/Me.jpeg" class='img-fluid rounded' alt="" srcset="">
        </div>
        <h4 class="col-6 ms-5 d-flex flex-column justify-content-center">
            About:<br>
            Let me start by telling you a bit about myself and then about this site. As a Military Veteran and Law
            Enforment Officer of nearly nine years, I myself have struggled with my mental health. It took me nearly 18
            years to admit to myself I was struggling and needed help. On my journey to seek help, I found it hard to
            find resources, or 
            a fellow first responder that was willing to openly admit to having the same struggles. Finding the
            resources necessary to help yourself or other first responders shouldn't have to be so difficult and for
            that reason I decided to create this site.
            Even though the topic of Mental Health and resources are slowly becoming more available, there still lies a
            strong stigma on the topic within the First Responder and Military Community. Sometimes as women we let
            ourselves believe that as first responders we can not show or admit we are struggling and need help. Then
            there's also the fear of
            being labeled as weak in comparison to our male counterparts and we refrain from seeking the help we need.
            These are just a few of the many reason
            this site was created. This space has been created,
            to give those hesitant to reach out for help an opportunity to do so anonymously. Let this space be a place
            where we can have a discussion judgement free, with no shame or fear of repercussions. Let’s share our
            struggles, and our accomplishments but most importantly let’s reach out to help each other out.
        </h4>
    </div>
</div>

{% endblock content %}