{% extends 'base.html' %}



{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">
        <h4 class="col-6 ms-5 d-flex flex-column justify-content-center">
            Resouces:<br>
            https://www.yogaforfirstresponders.org
            https://fherehab.com/services/first-responders/
            https://thequellfoundation.org/
            https://www.womenshealth.va.gov/
            https://www.calm.com/blog/box-breathing
        </h4>
    </div>
</div>

{% endblock content %}