/* Shop Page CSS */

body {
    /*background: url(./Sisters\ At\ Your\ SIX.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center center;
    background-attachment: fixed;
    background-color: rgb(96, 75, 108);
}






